.title {
  font-weight: 400;
}

.box {
  height: fit-content;
  border: solid 1px rgb(250, 249, 249);
  border-radius: 3px;
  box-shadow: 0 0 10px;
  margin-left: auto;
  margin-right: auto;
}
.configuration {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.configurationLeftmiddle {
  width: 70%;
  display: flex;
  flex-direction: row;
}
.configuration-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin: 5px 10px;
}
.label {
  font-size: 14px;
  font-weight: 600;
}
.configuration-middle {
  width: 50%;
  margin: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.configuration-right {
  width: 30%;
  margin: 5px auto;
  align-items: center;
  margin-right: 20px;
}
.textfield {
  padding-right: 0;
}

.hide {
  display: flex;
  flex-direction: row;
}

.inputTable {
  height: fit-content;
}
.tree-charac {
  margin-left: auto;
  margin-right: auto;
}

/* disable arrows from Number Input */
/* For chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* For firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 576px) {
  .title {
    font-size: 1.5rem;
  }
  .configuration {
    height: fit-content;
    flex-direction: column;
    align-items: center;
  }
  .configurationLeftmiddle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .configuration-left {
    width: 90%;
  }
  .configuration-middle {
    margin-top: 0;
    width: 90%;
  }
  .configuration-right {
    width: 90%;
    margin-top: 0;
    margin-left: 0;

  }

  .hide {
    width: 80%;
    flex-direction: column;
  }
}

@media screen and (min-width: 577px) and (max-width: 977px) {
  .configuration {
    height: fit-content;
    flex-direction: column;
    /* align-items: center; */
  }
  .configurationLeftmiddle {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .configuration-left {
    width: 50%;
  }
  .configuration-middle {
    width: 50%;
  }

  .configuration-right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0;
    justify-content: space-around;
  }

  .right {
    flex-basis: 46%;
  }

  .hide {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 978px) and (max-width: 1100px) {
  .configuration {
    height: fit-content;
    flex-direction: row;
  }
  .configurationLeftmiddle {
    width: 70%;
    display: flex;
    flex-direction: row;
  }
  .configuration-left {
    width: 50%;
  }
  .configuration-middle {
    width: 50%;
  }
  .configuration-right {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  /* .label {
    font-size: 11px;
  } */

  .hide {
    width: 80%;
    flex-direction: column;
  }
}
